body {
  width: 760px;
  margin: 0 auto 0 auto;
  font-family: 'Oxygen', sans-serif;
  color: #666;
  -webkit-print-color-adjust: exact;
}

header { 
  font-family: 'Gilda Display', serif;
  color: rgb(204, 0, 136);
}

.subtitle {
  font-size: .8em;
  margin: 0 0 10px 5px;
}

.bio {
  font-size: .9em;
  margin: 5px;
  width: 350px;
  line-height: 1.4em;
  margin-bottom: 25px;
}

.avatar {
  float: right;
  width: 100px;
}

.contact {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  list-style: none;
}

.contact li {
  margin: 0;
  line-height: 1.5em;
  padding-left: 20px;
}

.contact .github {
  background: url(../img/blacktocat.png) no-repeat left center;
  background-size: 16px 16px;
}

.contact .twitter {
  background: url(../img/twitter.png) no-repeat left center;
  background-size: 16px 16px;
}

.contact .email {
  background: url(../img/gmail.png) no-repeat left center;
  background-size: 16px 16px;
}

.contact .phone {
  background: url(../img/phone.png) no-repeat left center;
  background-size: 16px 16px;
}

section > header {
  font-size: 2em;
}

section.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

section > section {
  border-top: 2px solid #999;
  padding-top: 25px;
}

section > section > header {
  font-size: 1.2em;
  float: left;
  width: 150px;
}

section > section > div {
  float: left;
  width: 610;
}

section > section section {
  border-left: 2px solid #999;
  padding-left: 25px;
  margin-bottom: 25px;
  line-height: 1.4em;
}

section > section section > header {
  font-size: 1.2em;
}

section > section section > p {
  margin: 0;
}

section > section section > ul {
  width: 500px;
  margin-bottom: 0;
}

.date {
  font-size: .9em;
  float: right;
}