body {
  width: 760px;
  margin: 0 auto 0 auto;
  font-family: 'Oxygen', sans-serif;
  color: #666;
  -webkit-print-color-adjust: exact;
}

h1, h2, h3 { 
  font-family: 'Gilda Display', serif;
  color: rgb(204, 0, 136);
  margin: 0;
}

.contact {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  list-style: none;
}

.contact li {
  margin: 0;
  line-height: 1.5em;
  padding-left: 20px;
}

.contact li a {
  color: #666;
  text-decoration: none;
}

.contact .speakerrate {
  background: url(../img/speakerrate.jpg) no-repeat left center;
  background-size: 16px 16px;
}

.contact .github {
  background: url(../img/blacktocat.png) no-repeat left center;
  background-size: 16px 16px;
}

.contact .twitter {
  background: url(../img/twitter.png) no-repeat left center;
  background-size: 16px 16px;
}

.contact .email {
  background: url(../img/gmail.png) no-repeat left center;
  background-size: 16px 16px;
}

.contact .phone {
  background: url(../img/phone.png) no-repeat left center;
  background-size: 16px 16px;
}

.subtitle {
  font-size: .8em;
  margin: 0 0 10px 5px;
}

.bio {
  font-size: .9em;
  margin: 5px;
  width: 350px;
  line-height: 1.4em;
  margin-bottom: 25px;
}

.avatar {
  float: right;
  width: 100px;
}

@media only screen and (max-width: 480px) {
  body {
    width: 480px;
  }

  .bio {
    margin-bottom: 10px;
  }

  .avatar {
    width: 200px;
  }

  .contact {
    float: none;
    margin-top: 10px;
  }

  section > ul {
    padding-left: 10px;
  }

  section > ul > li {
    list-style: none;
    margin-bottom: 25px;
  }

  .date {
    font-size: .9em;
    float: right;
  }
}

@media all and (min-width: 481px) {

  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  body > section {
    border-top: 2px solid #999;
  }

  header > div {
    float: left;
  }

  h2 {
    font-size: 1.2em;
    float: left;
    margin-top: 16px;
    width: 150px;
  }

  section > ul {
    float: left;
    list-style: none;
    margin-bottom: 0;
    width: 540px;
  }

  section > ul > li {
    border-left: 2px solid #999;
    padding-left: 25px;
    line-height: 1.4em;
    margin-bottom: 25px;
  }

  section section > header {
    font-size: 1.2em;
  }

  section section > p {
    margin: 0;
  }

  div > section section > ul {
    width: 500px;
    margin-bottom: 0;
  }

  .date {
    font-size: .9em;
    float: right;
  }
}