* {
  margin: 0;
  padding: 0;
}
body.index {
  color: #666;
  font-family: 'Lora', serif;
}
body.index section.home {
  background-image: url("../img/chicago.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Oxygen', sans-serif;
  color: #e9e9e9;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 25px;
}
body.index section.home h1 {
  font-size: 48px;
  text-shadow: 0px 0px 4px #333;
  margin-top: 10px;
}
body.index section.home .hero {
  margin: 0 auto;
}
body.index section.home .hero img {
  border: 4px solid #e9e9e9;
}
body.index section.home .hero,
body.index section.home .hero img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
body.index section.home nav ul li {
  display: inline;
  font-size: 20px;
  text-shadow: 0px 0px 4px #333;
}
body.index section.home nav ul li a {
  text-decoration: none;
  color: #e9e9e9;
}
body.index section.home nav ul li:not(:last-child):after {
  content: "•";
  margin-left: 1em;
  margin-right: 1em;
}
body.index div.main-content {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}
body.index div.main-content .hfeed {
  max-width: 760px;
  margin: 0 auto;
}
body.index div.main-content .hfeed article {
  line-height: 1.5em;
  font-size: 1.2em;
  letter-spacing: 0.07em;
}
body.index div.main-content .hfeed article h2,
body.index div.main-content .hfeed article h3 {
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 15px;
}
body.index div.main-content .hfeed article h2 a,
body.index div.main-content .hfeed article h3 a {
  text-decoration: none;
  color: #111;
}
body.index div.main-content .hfeed article h3 {
  font-size: 25px;
}
body.index div.main-content .hfeed article p {
  margin-bottom: 15px;
}
body.index div.main-content .hfeed article section {
  margin-bottom: 35px;
}
body.post {
  color: #666;
  font-family: 'Lora', serif;
}
body.post section.home {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  background-image: url("../img/chicago.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Oxygen', sans-serif;
  color: #e9e9e9;
  padding-top: 10px;
  padding-bottom: 10px;
}
body.post section.home div {
  max-width: 760px;
  margin: 0 auto;
}
body.post section.home div img {
  border: 4px solid #e9e9e9;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  vertical-align: middle;
}
body.post section.home div nav {
  margin-left: 20px;
  position: relative;
  top: 5px;
}
body.post section.home div nav,
body.post section.home div nav ul {
  display: inline;
}
body.post section.home div nav ul li {
  display: inline;
  font-size: 20px;
  text-shadow: 0px 0px 4px #333;
}
body.post section.home div nav ul li a {
  text-decoration: none;
  color: #e9e9e9;
}
body.post section.home div nav ul li:not(:last-child):after {
  content: "•";
  margin-left: 1em;
  margin-right: 1em;
}
body.post div.main-content {
  margin: 0;
  padding-top: 125px;
  padding-bottom: 50px;
  background: #fff;
}
body.post div.main-content .hfeed {
  max-width: 760px;
  margin: 0 auto;
}
body.post div.main-content .hfeed article {
  line-height: 1.5em;
  font-size: 1.2em;
  letter-spacing: 0.07em;
}
body.post div.main-content .hfeed article a {
  color: #333;
}
body.post div.main-content .hfeed article h2,
body.post div.main-content .hfeed article h3 {
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 15px;
}
body.post div.main-content .hfeed article h2 a,
body.post div.main-content .hfeed article h3 a {
  text-decoration: none;
  color: #111;
}
body.post div.main-content .hfeed article h3 {
  font-size: 25px;
}
body.post div.main-content .hfeed article p {
  margin-bottom: 15px;
}
body.post div.main-content .hfeed article section {
  margin-bottom: 35px;
}

