---
layout: index
description: This is the landing page
---

<header>
  <div class="header-content">
    <a href="/">
      <img src="/img/gravatar.jpg"/>
    </a>

    <h1>
    Dusty Burwell
    </h1>

    <nav>
    <ul>
    <li><a href="/">Articles</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#adventures">Adventures</a></li>
    </ul>
    </nav>
  </div>
</header>

<div class="main-content">
<div class="hfeed">

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="post hentry">
  <header>
    <h2 itemprop="name" class="entry-title">
      <a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
    </h2>
  </header>

  <section class="entry-content">{{ post.content | strip_html | truncatewords:75}}</section>
</article>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    Previous
  </a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>
{% endif %}


</div>
</div>
